@font-face {
    font-family: Outfits ;
    src: url( 'fonts/outfit/Outfit-VariableFont_wght.ttf'),
    
}

@font-face {
    font-family: Young-serif ;
    src: url(fonts/young-serif/YoungSerif-Regular.ttf);
}
body{
    margin: 0;
}

/*.containter{
    margin: auto;
    width: 500px;
}*/

img{
    width: 500px;
    border-radius: 32px;
    align-self: center;
    margin: 50px;
}

.omelette{
    margin: 0 50px;
}

.omelette h1{
    font-family: young-serif;
    margin-bottom: 20px;
}
.omelette p{
    font-family: outfits;
    font-size: 16px;
}

.Prep{
    margin: 0 50px;
    width: 500px;
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
    border-radius: 16px;
}

.Prep h3{
    font-family: Outfits;
    margin-bottom: 0;
}

.Prep ul{
    font-family: outfits;
    font-size: 16px;
    line-height: 2em;
}

.ingredients{
    margin: 0 50px;
}

.ingredients h3{
    font-family: young-serif;
    margin-bottom: 32px;
}
.ingredients p{
    font-family: outfits;
    font-size: 14px;
    color: Nutmeg: hsl(14, 45%, 36%);
}

.p4{
    margin: 0 50px;
}

.p4 h1{
    font-family: young-serif;
    margin-bottom:32px;
}
.p4 p{
    font-family: outfits;
    font-size: 14px;
}

.table{
    margin: 50px;
}

.table h3{
    font-family: young-serif;
}
span{
    font-weight: bold;
}